<div class="header">
    <p class="mat-h1">{{ pageTitle }}</p>
</div>
<div *ngIf="shoppingCartitems?.length > 0;else emptyCart">
    <div class="cart-item" *ngFor="let item of shoppingCartitems; let i=index">
        <span>{{ item.product.title }}</span>
        <span>{{ item.product.price * item.quantity | currency }}</span>
        <span>{{ item.quantity }}</span>
        <span>
            <mat-select [(value)]="item.quantity" name="quantity" (selectionChange)="updateCart($event, item.product)">
                <mat-option *ngFor="let s_quantity of quantity" [value]="s_quantity">
                    {{ s_quantity }}
                </mat-option>
            </mat-select>
        </span>
        <span><button mat-raised-button (click)="removeProduct(item.product.productId)">Delete</button></span>
    </div>
</div>

<ng-template #emptyCart>
    <div class="container">
        <mat-card style="padding: 5%;">
            <div class="mat-h1">There are not items in your Cart.</div>
        </mat-card>
    </div>
</ng-template>