<div class="header">
    <p class="mat-h1">{{ pageTitle }}</p>
    <form class="example-form">
        <mat-form-field class="search-full-width">
            <input matInput type="search" placeholder="Search" value="">
        </mat-form-field>
    </form>
</div>

<section class="sidebar">
    <p class="mat-h2">Gender</p>
    <mat-button-toggle-group vertical appearance="legacy" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="male">Male</mat-button-toggle>
        <mat-button-toggle value="female">Female</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-divider style="margin: 15px;"></mat-divider>

    <p class="mat-h2">Price</p>
    <label>Select a price range:</label>
    <mat-radio-group aria-labelledby="radio-group-label" class="radio-group">
        <mat-radio-button class="radio-button" value="1">Under $25</mat-radio-button>
        <mat-radio-button class="radio-button" value="2">$25 to $50</mat-radio-button>
        <mat-radio-button class="radio-button" value="3">$50 to $100</mat-radio-button>
        <mat-radio-button class="radio-button" value="4">$100 to $200</mat-radio-button>
        <mat-radio-button class="radio-button" value="5">$200 & Above</mat-radio-button>
        <mat-radio-button class="radio-button" value="6">Any Price</mat-radio-button>
    </mat-radio-group>

</section>

<section class="product_list">
    <div class="container-fluid" *ngFor='let product of products'>
        <mat-card class="product-card" [class.mat-elevation-z2]=true>
            <img mat-card-image sty [src]='product.smImagePath' [alt]='product.description' class="product-sm-image">
            <mat-card-title style="font-size: 18px; text-align: center;">{{ product.title }}</mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{ product.description }}</mat-card-subtitle>
            <mat-card-content>
                <p>{{ product.price | currency }}</p>
                <p>Rating: 3/5</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button>ADD TO CART</button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>