@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* Adds space between title and nav buttons */

.nav-spacer {
  flex: 1 1 auto;
}

/* Product Card sizing and styling */

mat-card.product-card {
  width: 190px;
  height: 300px;
  padding: 25px;
  margin: auto;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
}

/* Animation for hovering over cards */

mat-card.product-card:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

/* Spacing between each product card */

div.container-fluid {
  float: left;
  margin: 20px 5px 10px 5px;
}

/* Centers the price and rating */

mat-card-content {
  text-align: center;
}

/* Styling for the price and rating */

mat-card-content>p {
  float: left;
  width: 40%;
  margin: 0 1%;
  font-size: 15px;
}

/* Center "Add To Cart" Button  */

div mat-card-actions button {
  margin-top: 30px !important;
  margin-left: 45px !important;
}

/* Body styling */

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  text-decoration-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

/* Subpage styling */

.page {
  width: 80%;
  margin: 15px auto 0 auto;
  overflow: hidden;
}

/* Defines the constraints for header within subpage */

.header {
  font-size: 100%;
  margin-top: 60px;
}

/* Defines the constraints for the filter */

.sidebar {
  width: 15%;
  height: 100%;
  float: left;
}

/* Defines the constraints of the list of products */

.product_list {
  float: left;
  width: 84%;
  font-size: 100%;
  height: 100%;
  max-width: 90%;
}

/* Defines the top navigation bar */

#navbar {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  padding: 0% 5% 0% 5%;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

/* Sizing for the thumbnail product image */

.product-sm-image {
  height: 130px;
  width: 130px;
}

/* Expanding the search field to 100% */

.search-full-width {
  width: 100%;
  font-size: 20px;
}

/* Making the cart icon clickable */

#cart-icon {
  cursor: pointer;
}

/* Increase the font size of Store name */

#store-name {
  font-size: 20px;
}

/* Gender radio button group styling */

mat-button-toggle-group {
  width: 90%;
}

/* Gender radio buttons styling */

mat-button-toggle {
  padding: 5px;
  margin: 5px;
  background-color: white;
  color: black !important;
  flex: 1 1 100%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
}

/* Constrains for radio button group */

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px F;
}

/* Radio Button margin */

.radio-button {
  margin: 5px;
}

/* Changes the color of the Radio button to blue */

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(66, 134, 244);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  color: rgb(66, 134, 244);
  background-color: rgb(66, 134, 244);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: rgb(255, 37, 37, .26)
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #3a3f44;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Cart Item Styling */

.cart-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: white;
}